<div [formGroup]="aspiranteForm">

  <div class="row my-4 align-items-center">
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-success" (click)="addReferencias()" type="button">Añadir referencias</button>
    </div>
  </div>

  <ng-container formArrayName="referenciasPersonales">
    <ng-container *ngFor="let referencia of getControls(); let f1 = index" [formGroupName]="f1">
      <div class="card mt-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6>#{{ f1 + 1 }}</h6>
            </div>

            <div class="col-auto">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeReferencias(f1)">Eliminar x</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="documentoIdentidad">Cédula</label>
                <input class="form-control" type="text" id="documentoIdentidad" name="documentoIdentidad" required
                  formControlName="documentoIdentidad" />
              </div>
              <div class="mb-3">
                <label for="nombres">Nombres completo</label>
                <input class="form-control" type="text" id="nombres" name="nombres" required
                  formControlName="nombres" />
              </div>
              <div class="mb-3">
                <label for="puesto">Puesto</label>
                <input class="form-control" type="text" id="puesto" name="puesto" required
                  formControlName="puesto" />
              </div>
              <div class="mb-3">
                <label for="institucion">Institución</label>
                <input class="form-control" type="text" id="institucion" name="institucion" required
                  formControlName="institucion" />
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="direccionInstitucion">Dirección</label>
                <input class="form-control" type="text" id="direccionInstitucion" name="direccionInstitucion" required
                  formControlName="direccionInstitucion" />
              </div>
              <div class="mb-3">
                <label for="telefono">Teléfono</label>
                <input class="form-control" type="text" id="telefono" name="telefono" required
                  formControlName="telefono" />
              </div>
              <div class="mb-3">
                <label for="correo">Correo Electrónico</label>
                <input class="form-control" type="text" id="correo" name="correo" required
                  formControlName="correo" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
