<div [formGroup]="aspiranteForm">

  <div class="row my-4 align-items-center">
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-success" (click)="addCapacitaciones()" type="button">Agregar Formación
        Capacitación</button>
    </div>
  </div>

  <ng-container formArrayName="capacitaciones">
    <ng-container *ngFor="let academico of getControls(); let f1 = index" [formGroupName]="f1">
      <div class="card mt-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6>#{{ f1 + 1 }}</h6>
            </div>

            <div class="col-auto">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeCapacitaciones(f1)">Eliminar x</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label [for]="'pais-' + f1" class="form-label">Pais</label>
                <input type="text" [id]="'pais' + f1" class="form-control" formControlName="pais">
              </div>
              <div class="mb-3">
                <label [for]="'evento-' + f1" class="form-label">Evento</label>
                <input type="text" [id]="'evento' + f1" class="form-control" formControlName="evento">
              </div>
              <div class="mb-3">
                <label [for]="'auspiciante-' + f1" class="form-label">Auspiciante</label>
                <input type="text" [id]="'auspiciante' + f1" class="form-control" formControlName="auspiciante">
              </div>

            </div>
            <div class="col">
              <div class="mb-3">
                <label [for]="'duracion-' + f1" class="form-label">Duración (horas)</label>
                <input type="number" [id]="'duracion' + f1" class="form-control" formControlName="duracion">
              </div>
              <div class="mb-3">
                <label [for]="'certificado-' + f1" class="form-label">Certificado</label>
                <input type="text" [id]="'certificado' + f1" class="form-control" formControlName="certificado">
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label [for]="'fechaInicio-' + f1" class="form-label">Fecha de Inicio</label>
                    <input type="date" [id]="'fechaInicio' + f1" class="form-control" formControlName="fechaInicio">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label [for]="'fechaFin-' + f1" class="form-label">Fecha de Fin</label>
                    <input type="date" [id]="'fechaFin' + f1" class="form-control" formControlName="fechaFin">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
