<div class="container w-75 mt-3 rounded shadow">
  <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6">

      </div>
      <div class="col p-4 rounded-end">
          <h2 class="fw-bold text-center py-2">Creacion Cuenta</h2>
          <form (ngSubmit)="onRegister()" [formGroup]="registroForm">
              <div class="mb-2">
                  <label for="name" class="form-label">Nombres y apellidos</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="name">
              </div>
              <div class="mb-2">
                  <label for="email" class="form-label">Correo electronico</label>
                  <input type="email" class="form-control" name="email" id="email" formControlName="email">
              </div>
              <div class="mb-2">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" name="password" id="password" formControlName="password">
              </div>
              <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Crear</button>
              </div>
          </form>
      </div>
  </div>
</div>
