body {
  background: rgb(124, 238, 238);
  background: linear-gradient(to right, rgb(5, 178, 187), rgb(192, 246, 249));
}

.bg {
  background-image: url(https://www.cavsi.com/preguntasrespuestas/images/informatica/usuario-de-computadoras.jpg);
  background-position: center center;
}
